<!-- IMPORTANT:  This is just an example file. Used instead of the 'launchctl setenv' as alternative option for setting up the configuration for Wezterm.-->

<!-- Specifying the XML version and it's encoding type. This is required by 'launchd' -->
<?xml version="1.0" encoding="UTF-8"?>
<!-- Declaring that this file is a macOS-compatible Property List (plist), which conforms to Apple's standard 'plist' Document Type Definition. -->
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- Opening the root 'plist' element, and specifying the version for compatibility. (Always use 'version="1.0"') -->
<plist version="1.0">
  <dict>
  <!-- This is a unique identifier for the agent, 'launchd'. Must be 'Label', not custom.  -->
  <key>Label</key>
  <!-- Name used to load, unload, and manage the agent via the 'launchctl' binary. -->
  <string>com.user.wezterm.env</string>
  <!-- Defining the command to run when the agent is loaded. -->
  <key>ProgramArguments</key>
  <array>
    <string>launchctl</string>
    <string>setenv</string>
    <string>WEZTERM_CONFIG_FILE</string>
    <string>/Users/<your-username>/.config/nvim/lua/config/wezterm/.wezterm.lua</string>
  </array>
  <!-- Telling the 'launchd' daemon (system service manager) to run the 'ProgramArguments' immediately when the agent is loaded (i.e.:, on login) -->
  <key>RunAtLoad</key>
  <true/>
  <!-- Closing the dictionary and list / array structure. -->
</dict>
</plist>


